# Dependencies
node_modules/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*.override.tf
terraform/*.override.tf.json

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
